@model FormuleCirkelEntity.Models.Driver

@{
    ViewData["Title"] = "Edit";
}

<div class="d-inline-block">
    <h1>Modify driver</h1>
    @if (!string.IsNullOrWhiteSpace(Model.Name))
    {
        <h2>#@Model.DriverNumber - @Model.Name</h2>
    }
    <div class="fullwidth">
        <form method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DriverNumber" class="control-label float-left">Number</label>
                <input asp-for="DriverNumber" class="form-control" />
                <span asp-validation-for="DriverNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label float-left"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abbreviation" class="control-label float-left"></label>
                <input asp-for="Abbreviation" class="form-control" />
                <span asp-validation-for="Abbreviation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label float-left">Date of Birth</label>
                <input asp-for="DateOfBirth" type="date" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label float-left">Country of origin</label>
                <select asp-for="Country" name="country"></select>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn fullwidth" />
            </div>
        </form>
    </div>

    <div class="float-left">
        <a class="btn" asp-action="Index">
            <i class="fas fa-arrow-alt-circle-left"></i> Back
        </a>
    </div>
</div>

<script>    
    $(function () {
        function formatCountry(country) {
            if (!country.id) { return country.text; }
            var $country = $(
                '<span class="flag flag-' + country.id + ' ff-md"></span>' +
                '<span class="flag-text">' + country.text + "</span>"
            );
            return $country;
        };

        $("[name='country']").select2({
            placeholder: "Select a country",
            templateResult: formatCountry,
            data: isoCountries
        });

        var driver_country_id = "@(Model.Country)";
        if (driver_country_id) {
            $("[name='country']").val(driver_country_id);
            $("[name='country']").trigger('change');
        }
    });
</script>

<style>
    .select2-container {
        width: 100% !important;
        text-align: left;
        color: black;
    }
</style>