@model FormuleCirkelEntity.Models.Driver

@{
    ViewData["Title"] = "Stats";
}

<h1>Stats</h1>

<div>
    <h4>Coureur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nummer
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverNumber)
        </dd>
        <dt class = "col-sm-2">
            Naam
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Afkorting
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Abbreviation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Terug naar lijst</a>
</div>
