@model FormuleCirkelEntity.Models.MinMaxDevRange

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-inline-block">
    <h1>Edit</h1>

    <h4>MinMaxDevRange</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="MinMaxDevId" />
                <div class="form-element">
                    <label asp-for="ValueKey" class="control-label"></label>
                    <input asp-for="ValueKey" class="form-control" />
                    <span asp-validation-for="ValueKey" class="text-danger"></span>
                </div>
                <div class="form-element">
                    <label asp-for="MinDev" class="control-label"></label>
                    <input asp-for="MinDev" class="form-control" />
                    <span asp-validation-for="MinDev" class="text-danger"></span>
                </div>
                <div class="form-element">
                    <label asp-for="MaxDev" class="control-label"></label>
                    <input asp-for="MaxDev" class="form-control" />
                    <span asp-validation-for="MaxDev" class="text-danger"></span>
                </div>
                <div class="form-element">
                    <input type="submit" value="Save" class="btn btn-primary fullborder" />
                </div>
            </form>
        </div>
    </div>

    <div class="float-left">
        <a class="btn" asp-action="Index">
            <i class="fas fa-arrow-alt-circle-left"></i> Back
        </a>
    </div>
</div>
