@model FormuleCirkelEntity.Models.Team

@{
    ViewData["Title"] = "Edit";
}

<h1>Aanpassen</h1>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TeamId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abbreviation" class="control-label"></label>
                <input asp-for="Abbreviation" class="form-control" />
                <span asp-validation-for="Abbreviation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colour" class="control-label"></label>
                <input asp-for="Colour" type="color" value="@(Model.Colour)" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Accent" class="control-label"></label>
                <input asp-for="Accent" type="color" value="@(Model.Accent)" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug naar lijst</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
