@model FormuleCirkelEntity.Models.Trait

@{
    ViewData["Title"] = "Edit";
}

<div class="d-inline-block">
    <h1>Edit: @Model.Name</h1>

    <form asp-action="Modify">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="TraitId" />
        <div class="row">
            <div class="w-50">
                <div class="form-group w-75 ml-auto mr-auto">
                    <label asp-for="Name" class="control-label float-left"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group w-75 ml-auto mr-auto">
                    <label asp-for="TraitGroup" class="control-label float-left"></label>
                    @Html.DropDownListFor(model => model.TraitGroup, new SelectList(Enum.GetValues(typeof(TraitGroup))), new { @class = "form-control" })
                    <span asp-validation-for="TraitGroup" class="text-danger"></span>
                </div>
                <div class="form-group w-75 ml-auto mr-auto">
                    <label asp-for="TraitDescription" class="control-label float-left"></label>
                    <input asp-for="TraitDescription" class="form-control" />
                    <span asp-validation-for="TraitDescription" class="text-danger"></span>
                </div>
                <div class="form-group w-75 ml-auto mr-auto">
                    <label asp-for="QualyPace" class="control-label float-left"></label>
                    <input asp-for="QualyPace" class="form-control" />
                    <span asp-validation-for="QualyPace" class="text-danger"></span>
                </div>
                <div class="form-group w-75 ml-auto mr-auto">
                    <label asp-for="DriverRacePace" class="control-label float-left"></label>
                    <input asp-for="DriverRacePace" class="form-control" />
                    <span asp-validation-for="DriverRacePace" class="text-danger"></span>
                </div>
                <div class="form-group w-75 ml-auto mr-auto">
                    <label asp-for="ChassisRacePace" class="control-label float-left"></label>
                    <input asp-for="ChassisRacePace" class="form-control" />
                    <span asp-validation-for="ChassisRacePace" class="text-danger"></span>
                </div>
                <div class="form-group w-75 ml-auto mr-auto">
                    <label asp-for="EngineRacePace" class="control-label float-left"></label>
                    <input asp-for="EngineRacePace" class="form-control" />
                    <span asp-validation-for="EngineRacePace" class="text-danger"></span>
                </div>
            </div>
            <div class="w-50">
                <div class="form-group w-75 ml-auto mr-auto">
                    <label asp-for="ChassisReliability" class="control-label float-left"></label>
                    <input asp-for="ChassisReliability" class="form-control" />
                    <span asp-validation-for="ChassisReliability" class="text-danger"></span>
                </div>
                <div class="form-group w-75 ml-auto mr-auto">
                    <label asp-for="DriverReliability" class="control-label float-left"></label>
                    <input asp-for="DriverReliability" class="form-control" />
                    <span asp-validation-for="DriverReliability" class="text-danger"></span>
                </div>
                <div class="form-group w-75 ml-auto mr-auto">
                    <label asp-for="MaximumRNG" class="control-label float-left"></label>
                    <input asp-for="MaximumRNG" class="form-control" />
                    <span asp-validation-for="MaximumRNG" class="text-danger"></span>
                </div>
                <div class="form-group w-75 ml-auto mr-auto">
                    <label asp-for="MinimumRNG" class="control-label float-left"></label>
                    <input asp-for="MinimumRNG" class="form-control" />
                    <span asp-validation-for="MinimumRNG" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn fullwidth" />
        </div>
    </form>

    <div class="float-left">
        <a class="btn" asp-action="Index">
            <i class="fas fa-arrow-alt-circle-left"></i> Back
        </a>    
    </div>
</div>
