@{
    ViewData["Title"] = "About me";
}

<div class="d-inline-block">
    <h1>About me</h1>
    <hr />
    <div class="col">
        <div class="flex-row">
            <div class="col-3">
                <h2>Details</h2>
                <dl class="flex-row text-left bigger-text">
                    <dt class="col-6">
                        Name:
                    </dt>
                    <dd class="col-6">
                        Mika van den Brink
                    </dd>
                    <dt class="col-6">
                        Date of birth:
                    </dt>
                    <dd class="col-6">
                        13 January 1998
                    </dd>
                    <dt class="col-6">
                        Nationality:
                    </dt>
                    <dd class="col-6">
                        <span class="flag flag-NL ff-md"></span> Dutch
                    </dd>
                    <dt class="col-6">
                        Discord:
                    </dt>
                    <dd class="col-6">
                        Haan#0420
                    </dd>
                </dl>
            </div>
            <div class="col-9 secondary fullborder">
                <h2>Who am I?</h2>
                <div class="bigger-text">
                    <p>
                        Who I am is a question that I often ask myself. As of the moment that I am writing this, which is at the end
                        of the devastating year that is 2020, I still haven't really found myself. God knows what the future may hold.
                        Anyway enough about that pseudo-introspective stuff, I am Mika. Cool lad from the Netherlands with a borderline
                        unhealthy obsession with Formula 1, space and aesthetics.
                    </p>
                    <p>
                        Now you may wonder, who even thinks of making an application just for some randomly generated numbers to represent
                        motorsport racing. Well, that's all thanks to a few fellow racing nerds I met through Discord. They started these
                        sort of sims way before I made this application, for that they used Excel. Lot's of hard, manual work but boy, did
                        they have some good fun with it. I became part of that group since I am quite the racing nerd myself too (except a lot les knowledgeable).
                        Performing simulations through Excel was some long and hard work though, just running one race could cost up to
                        an hour of playing around in Excel. Super long so I said "Nah, I am instead going to spend hundreds of hours coding
                        so I can save a few minutes". And that's what I did for over an year now already, and the result of that is in front of you.
                        Usually when people say that last sentence something impressive is in front of them, I am not sure if this is that good though.
                        Nonetheless I am a bit proud of it and it really helped developing my programming skills.
                    </p>
                    <p>
                        Because of the stuff I said above, I do want to thank the group of racing nerds I met online since they were such a huge motivation
                        for me to keep developing this app. So that's why I want to mention each of their names here, since every one of them is a
                        good lad. Special thanks underneath here!
                    </p>
                </div>
            </div>
        </div>
        <hr />
        <div class="w-75 d-inline-block align-self-center">
            <h2>Special thanks to:</h2>
            <div class="flex-row text-left bigger-text list-space">
                <div class="col-3">
                    <ul>
                        <li>
                            <span class="flag flag-NL ff-md"></span>
                            FrankyDoodle
                        </li>
                        <li>
                            <span class="flag flag-NL ff-md"></span>
                            Lolsokje
                        </li>
                        <li>
                            <span class="flag flag-ZW ff-md"></span>
                            Crystallinecarbon
                        </li>
                        <li>
                            <span class="flag flag-LT ff-md"></span>
                            Lukelio
                        </li>
                        <li>
                            <span class="flag flag-GB ff-md"></span>
                            Yoshijosh
                        </li>
                        <li>
                            <span class="flag flag-BG ff-md"></span>
                            Ameros
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul>
                        <li>
                            <span class="flag flag-HR ff-md"></span>
                            Apple Monoxide
                        </li>
                        <li>
                            <span class="flag flag-UN ff-md"></span>
                            Ciel
                        </li>
                        <li>
                            <span class="flag flag-FI ff-md"></span>
                            Dezent
                        </li>
                        <li>
                            <span class="flag flag-PT ff-md"></span>
                            Aalp
                        </li>
                        <li>
                            <span class="flag flag-PT ff-md"></span>
                            Vennez
                        </li>
                        <li>
                            <span class="flag flag-FR ff-md"></span>
                            Meltered
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul>
                        <li>
                            <span class="flag flag-DE ff-md"></span>
                            Keskor
                        </li>
                        <li>
                            <span class="flag flag-DE ff-md"></span>
                            Rex
                        </li>
                        <li>
                            <span class="flag flag-BR ff-md"></span>
                            Cesar
                        </li>
                        <li>
                            <span class="flag flag-US ff-md"></span>
                            Pleet
                        </li>
                        <li>
                            <span class="flag flag-ID ff-md"></span>
                            Cnoc
                        </li>
                        <li>
                            <span class="flag flag-US ff-md"></span>
                            Thunder
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul>
                        <li>
                            <span class="flag flag-US ff-md"></span>
                            Cody
                        </li>
                        <li>
                            <span class="flag flag-NL ff-md"></span>
                            Dave
                        </li>
                        <li>
                            <span class="flag flag-PL ff-md"></span>
                            Damian
                        </li>
                        <li>
                            <span class="flag flag-SE ff-md"></span>
                            Blue Cube
                        </li>
                        <li>
                            <span class="flag flag-GB ff-md"></span>
                            DAL1189
                        </li>
                        <li>
                            <span class="flag flag-KR ff-md"></span>
                            Fez
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="float-left mt-2">
        <a class="btn" asp-action="Index">
            <i class="fas fa-arrow-alt-circle-left"></i> Back
        </a>
    </div>
</div>