@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome bij Formule Cirkeltrek!</h1>
    <br />
    <img src="~/images/RedBullRain.jpg" width="900" height="506"/>
</div>
