@{
    ViewData["Title"] = "Home";
}

<div class="text-center hero-text">

    @if (ViewBag.championship == false)
    {
        <h1 class="display-4">Welcome to Formula Sim!</h1>
        <h2 class="display-4">Please create a championship before proceeding!</h2>
    }
    else
    {
        <h1 class="display-4">Welcome to @ViewBag.name</h1>
    }
</div>

<style>
    body{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        vertical-align: auto;
    }
</style>

<script>
    var bgs = [
        '/../../images/backgrounds/AlfaRomeoAss.jpg',
        '/../../images/backgrounds/FerrariFutureTrip.jpeg',
        '/../../images/backgrounds/HaasCurrentTrippy.jpg',
        '/../../images/backgrounds/HakkinenUnderMoon.jpg',
        '/../../images/backgrounds/HamiltonLeclercCrash.jpg',
        '/../../images/backgrounds/HamiltonVerstappenMonaco.jpg',
        '/../../images/backgrounds/KimiFerrariNightLight.jpg',
        '/../../images/backgrounds/McLarenFinish.jpeg',
        '/../../images/backgrounds/McLarenFutureAss.jpg',
        '/../../images/backgrounds/McLarenUpFuture.jpg',
        '/../../images/backgrounds/McLarenWest20xx.jpg',
        '/../../images/backgrounds/MikaMcLarenJump.jpg',
        '/../../images/backgrounds/RedBullRain.jpg',
        '/../../images/backgrounds/ToroRossoSide.jpg',
        '/../../images/backgrounds/VerstappenGermanyWin.jpg',
        '/../../images/backgrounds/VettelNumberOne.jpg',
        '/../../images/backgrounds/VettelPitstop.jpg',
        '/../../images/backgrounds/VettelVerstappenCrash.jpg'
    ];

    var n = Math.floor(Math.random() * bgs.length);
    document.body.style.backgroundImage = 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(' + bgs[n] + ')';
</script>