@model HomeViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="text-center hero-text">
    @if (!Model.ChampExists)
    {
        <h1 class="display-4">Welcome to Formula Sim!</h1>
        <h2 class="display-4">Please create a championship before proceeding!</h2>
    }
    else
    {
        <h1 class="display-4">Welcome to @Model.ChampionshipName</h1>
    }
    <h3 class="display-4">@Html.DisplayFor(modelItem => modelItem.Message)</h3>
</div>

<style>
    body{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        vertical-align: auto;
    }
</style>

<script>
    var background = returnRandomBackground();
    document.body.style.backgroundImage = 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(' + background + ')';
</script>