@model IEnumerable<FormuleCirkelEntity.Models.SeasonTeam>

@{
    ViewData["Title"] = "Stand";
    var rounds = ViewBag.rounds;
    var drivers = ViewBag.drivers;
    int position = 1;
    var track = "";
}

<h1>Kampioenschap teams</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Pos.
            </th>
            <th>
                Team
            </th>
            @foreach (var round in rounds)
            {
                <th>@(track = round.Track.Location.Substring(0, 3).ToUpper())</th>
            }
            <th>
                Punten
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @position
                </td>
                <td class="badge" style="background-color:@(item.Team.Colour);color:@(item.Team.Accent);font-size:1rem;display:block;">
                    @Html.DisplayFor(modelItem => item.Team.Name)
                </td>
                @foreach (var round in rounds)
                {
                    <td>
                        @foreach (var driver in item.SeasonDrivers)
                        {
                            DriverResult result = driver.DriverResults.FirstOrDefault(r => r.Race.Round == round.Round);
                            if (result == null || result.Position == 0)
                            {
                                <p>?</p>
                            }
                            else
                            {
                                if (result.Status == Status.DNF)
                                {
                                    <p class="bg-danger">DNF</p>
                                }
                                else
                                {
                                    <p>@result.Position</p>
                                }
                            }
                        }
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Points)
                </td>
            </tr>
            position++;
        }
    </tbody>
</table>