@{
    ViewData["Title"] = "Log out";
}

<header class="bigger-text">
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of Formula Simulation.</p>
    <a asp-controller="Home" asp-action="Index">Click here to return to home</a>
</header>