body table {
    background-color: rgb(30,34,39);
    color: white;
}
    body code[class*=language-],
    body table tbody > tr:nth-child(odd) > td,
    body table tbody > tr:nth-child(odd) > th {
        background: rgb(40, 44, 52)
    }

.table-prev {
    border: 1px solid rgb(189, 33, 48);
}
    .table-prev th {
        border: 1px solid rgb(189, 33, 48);
    }
    .table-prev td {
        border: 1px solid rgb(189, 33, 48);
    }

.standings-border th, .standings-border td {
    border: 1px solid rgba(192,192,192,0.4);
}

.primary {
    background-color: rgb(30,34,39);
    color: white;
}

.secondary {
    background-color: rgb(52, 58, 64);
}

.teritary {
    background-color: rgb(189, 33, 48);
    color: white;
}

.primary-force {
    background-color: rgb(30,34,39) !important;
    color: white !important;
}

.secondary-force {
    background-color: rgb(52, 58, 64) !important;
}

.teritary-force {
    background-color: rgb(189, 33, 48) !important;
    color: white !important;
}

.nav-link {
    color: rgba(255, 255, 255, 0.75);
}

.page-link {
    background-color: rgb(40, 44, 52);
    color: rgb(189, 33, 48);
    border-color: rgb(189, 33, 48);
}

.page-item.active .page-link {
    background-color: rgb(189, 33, 48);
    border-color: rgb(189, 33, 48);
    color: rgb(40, 44, 52);
}

.btn {
    background-color: rgb(40, 44, 52);
    color: white;
    border-color: rgb(189, 33, 48);
}
    .btn:hover {
        background-color: black;
        color: white;
    }

#graphic {
    background-color: rgb(30,34,39);
}

i.fas, i.fab, i.far, .link {
    color: white;
}

.fullborder {
    border: 1px solid rgb(189, 33, 48) !important;
}

.upperline {
    border-top: 1px solid rgb(189, 33, 48) !important;
}

.bottomline {
    border-bottom: 1px solid rgb(189, 33, 48) !important;
}

.leftline {
    border-right: 1px solid rgb(189, 33, 48) !important;
}

.rightline {
    border-right: 1px solid rgb(189, 33, 48) !important;
}

/*Navigation menu*/

.nav > li > a:hover, .nav > li > form > button:hover {
    background-color: rgb(30,34,39);
}

.nav.nav-second-level li {
    background-color: rgb(30,34,39);
}

li.active {
    border-left: 3px solid rgb(189, 33, 48) !important;
    background-color: rgb(30,34,39);
}