body table {
    background-color: rgb(176, 0, 0);
    color: white;
}

    body code[class*=language-],
    body table tbody > tr:nth-child(odd) > td,
    body table tbody > tr:nth-child(odd) > th {
        background: rgb(32, 32, 32);
    }

.table-prev {
    border: 1px solid rgb(0, 0, 0);
}
    .table-prev th {
        border: 1px solid rgb(0, 0, 0);
    }
    .table-prev td {
        border: 1px solid rgb(0, 0, 0);
    }

.standings-border th, .standings-border td {
    border: 1px solid rgba(192,192,192,0.4);
}

.primary {
    background-color: rgb(176, 0, 0);
    color: white;
}

.secondary {
    background-color: rgb(32, 32, 32);
}

.teritary {
    background-color: rgb(0, 0, 0);
    color: white;
}

.primary-force {
    background-color: rgb(176, 0, 0) !important;
    color: white !important;
}

.secondary-force {
    background-color: rgb(32, 32, 32) !important;
}

.teritary-force {
    background-color: rgb(0, 0, 0) !important;
    color: white !important;
}

.nav-link {
    color: rgba(255, 255, 255, 0.75);
}

.page-link {
    background-color: rgb(32, 32, 32);
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}

.page-item.active .page-link {
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    color: rgb(32, 32, 32);
}

.btn {
    background-color: rgb(32, 32, 32);
    color: white;
    border-color: rgb(0, 0, 0);
}
    .btn:hover {
        background-color: rgb(255, 0, 0);
        color: white;
    }

#graphic {
    background-color: rgb(176, 0, 0);
}

i.fas, i.fab, i.far, .link {
    color: white;
}

.fullborder {
    border: 1px solid rgb(255, 215, 0) !important;
}

.upperline {
    border-top: 1px solid rgb(255, 215, 0) !important;
}

.bottomline {
    border-bottom: 1px solid rgb(255, 215, 0) !important;
}

.leftline {
    border-right: 1px solid rgb(255, 215, 0) !important;
}

.rightline {
    border-right: 1px solid rgb(255, 215, 0) !important;
}

/*Navigation menu*/

.nav > li > a:hover, .nav > li > form > button:hover {
    background-color: rgb(176, 0, 0);
}

.nav.nav-second-level li {
    background-color: rgb(176, 0, 0);
}

li.active {
    border-left: 3px solid rgb(255, 215, 0) !important;
    background-color: rgb(176, 0, 0);
}