@model IEnumerable<IdentityRole>

<div class="d-inline-block">
    <h1>All Roles</h1>
    <div class="flex-row">
        <a asp-action="Create" class="btn mr-auto"><i class="fas fa-plus"></i> New role</a>
    </div>

    <table class="ctable fullborder min-width-index-table">
        <thead><tr><th>Name</th><th>Update</th><th></th></tr></thead>
        <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <a asp-action="Modify" asp-route-id="@role.Id">
                        <i class="fas fa-wrench fa-2x"></i>
                    </a>
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
