@model IEnumerable<IdentityRole>

<div class="d-inline-block">
    <h1>All Roles</h1>
    <a asp-action="Create" class="btn float-left"><i class="fas fa-plus"></i> New role</a>

    <table class="ctable fullborder min-width-index-table">
        <tr><th>Name</th><th>Update</th><th>Delete</th></tr>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <a asp-action="Modify" asp-route-id="@role.Id">
                        <i class="fas fa-wrench fa-2x"></i>
                    </a>
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                        <button type="submit">
                            <i class="fas fa-trash-alt fa-2x"></i>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
