@model IEnumerable<IdentityRole>

<div class="d-inline-block">
    <h1>All Roles</h1>
    <a asp-action="Create" class="btn">Create Role</a>

    <table class="ctable fullborder min-width-index-table">
        <tr><th>Name</th><th>Update</th><th>Delete</th></tr>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td><a class="btn btn-sm" asp-action="Modify" asp-route-id="@role.Id">Modify</a></td>
                <td>
                    <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
