@model IEnumerable<FormuleCirkelEntity.Models.Qualification>

@{
    ViewData["Title"] = "Qualification";
    var race = ViewBag.race;
}

<h1>Kwalificatie in @(race.Name)</h1>
<hr />
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-q1-tab" data-toggle="tab" href="#nav-q1" role="tab" aria-controls="nav-q1" aria-selected="true">Q1</a>
        <a class="nav-item nav-link" id="nav-q2-tab" data-toggle="tab" href="#nav-q2" role="tab" aria-controls="nav-q2" aria-selected="true">Q2</a>
        <a class="nav-item nav-link" id="nav-q3-tab" data-toggle="tab" href="#nav-q3" role="tab" aria-controls="nav-q3" aria-selected="true">Q3</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-q1" role="tabpanel" aria-labelledby="nav-q1-tab">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>
                        Pos.
                    </th>
                    <th>
                        Team
                    </th>
                    <th>
                        Coureur
                    </th>
                    <th>
                        Q1
                    </th>
                </tr>
            </thead>
            <tbody id="q1table"></tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="nav-q2" role="tabpanel" aria-labelledby="nav-q2-tab">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>
                        Pos.
                    </th>
                    <th>
                        Team
                    </th>
                    <th>
                        Coureur
                    </th>
                    <th>
                        Q2
                    </th>
                </tr>
            </thead>
            <tbody id="q2table"></tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="nav-q3" role="tabpanel" aria-labelledby="nav-q3-tab">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>
                        Pos.
                    </th>
                    <th>
                        Team
                    </th>
                    <th>
                        Coureur
                    </th>
                    <th>
                        Q3
                    </th>
                </tr>
            </thead>
            <tbody id="q3table"></tbody>
        </table>
    </div>
</div>


<button id="generateq1">Start Q1!</button>
<button id="generateq2">Start Q2!</button>
<button id="generateq3">Start Q3!</button>
<form asp-action="Return" asp-route-id="@(race.SeasonId)" asp-route-raceId="@(race.RaceId)" id="return">
    <div class="form-group">
        <input type="submit" value="Finish!" class="btn btn-dark" />
    </div>
</form>

<script>
    $(document).ready(function () {
        $("#generateq2").hide();
        $("#generateq3").hide();
        $("#return").hide();
        $('#generateq1').click(function () {
            $.ajax({
                url: "/Races/GetRacingDrivers",
                type: "GET",
                data: {
                    source: "Q1"
                },
                success: function (drivers) {
                    $.each(drivers, function (index, driver) {
                        var row = "<tr><td>" + driver.position + "</td><td>" + driver.teamName + "</td><td>"
                            + driver.driverName + "</td><td>" + driver.score + "</td></tr>";
                        $("#q1table").append(row);
                    });
                    $("#generateq1").hide();
                    $("#generateq2").show();
                }
            });
        });
        $('#generateq2').click(function () {
            $.ajax({
                url: "/Races/GetRacingDrivers",
                type: "GET",
                data: {
                    source: "Q2"
                },
                success: function (drivers) {
                    $.each(drivers, function (index, driver) {
                        var row = "<tr><td>" + driver.position + "</td><td>" + driver.teamName + "</td><td>"
                            + driver.driverName + "</td><td>" + driver.score + "</td></tr>";
                        $("#q2table").append(row);
                    });
                    $("#generateq2").hide();
                    $("#generateq3").show();
                }
            });
        });
        $('#generateq3').click(function () {
            $.ajax({
                url: "/Races/GetRacingDrivers",
                type: "GET",
                data: {
                    source: "Q3"
                },
                success: function (drivers) {
                    $.each(drivers, function (index, driver) {
                        var row = "<tr><td>" + driver.position + "</td><td>" + driver.teamName + "</td><td>"
                            + driver.driverName + "</td><td>" + driver.score + "</td></tr>";
                        $("#q3table").append(row);
                    });
                    $("#generateq3").hide();
                    $("#return").show();
                }
            });
        });
    });
</script>