@model Race;
@{
    ViewData["Title"] = "Race";
}

<section class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                @foreach(var stint in Model.Stints)
                {
                    <th>@stint.Key</th>
                }
            </tr>
        </thead>
    </table>
</section>