@model FormuleCirkelEntity.Models.Rubber

@{
    ViewData["Title"] = "Rubber - edit";
}

<div class="d-inline-block">
    <h4 class='badge' style='background-color:@(Model.Colour);color:@(Model.Accent);font-size:1.5rem;'>@Model.Name</h4>

    <div class="fullwidth">
        <form method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label float-left"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colour" class="control-label float-left"></label>
                <input asp-for="Colour" type="color" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Accent" class="control-label float-left"></label>
                <input asp-for="Accent" type="color" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PaceMod" class="control-label float-left"></label>
                <input asp-for="PaceMod" class="form-control" />
                <span asp-validation-for="PaceMod" class="text-danger"></span>
            </div>
            <div class="flex-row justify-content-between">
                <div class="form-group mr-1">
                    <label asp-for="MaxWearMod" class="control-label float-left"></label>
                    <input asp-for="MaxWearMod" class="form-control" />
                    <span asp-validation-for="MaxWearMod" class="text-danger"></span>
                </div>
                <div class="form-group ml-1">
                    <label asp-for="MinWearMod" class="control-label float-left"></label>
                    <input asp-for="MinWearMod" class="form-control" />
                    <span asp-validation-for="MinWearMod" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn fullborder fullwidth" />
            </div>
        </form>
    </div>

    <div class="float-left">
        <a class="btn" asp-action="Index">
            <i class="fas fa-arrow-alt-circle-left"></i> Back
        </a>
    </div>
</div>
