@model FormuleCirkelEntity.Models.Tyre

@{
    ViewData["Title"] = "Tyre - edit";
}
<div class="d-inline-block">
    <h1>Edit tyre - @Html.DisplayFor(model => model.TyreName)</h1>

    <div class="fullwidth">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TyreName" class="float-left"></label>
                <input asp-for="TyreName" class="form-control" />
                <span asp-validation-for="TyreName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TyreColour" class="float-left"></label>
                <input asp-for="TyreColour" type="color" class="form-control" />
                <span asp-validation-for="TyreColour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StintLen" class="float-left"></label>
                <input asp-for="StintLen" class="form-control" />
                <span asp-validation-for="StintLen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pace" class="float-left"></label>
                <input asp-for="Pace" class="form-control" />
                <span asp-validation-for="Pace" class="text-danger"></span>
            </div>
            <div class="flex-row justify-content-between">
                <div class="form-group mr-1">
                    <label asp-for="MaxWear" class="float-left"></label>
                    <input asp-for="MaxWear" class="form-control" />
                    <span asp-validation-for="MaxWear" class="text-danger"></span>
                </div>
                <div class="form-group ml-1">
                    <label asp-for="MinWear" class="float-left"></label>
                    <input asp-for="MinWear" class="form-control" />
                    <span asp-validation-for="MinWear" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn fullwidth" />
            </div>
        </form>
    </div>

    <div class="float-left">
        <a class="btn" asp-action="TyreIndex">
            <i class="fas fa-arrow-alt-circle-left"></i> Back
        </a>
    </div>
</div>
