@model FormuleCirkelEntity.Models.Track

@{
    ViewData["Title"] = "Edit";
}

<h1>Aanpassen</h1>

<h4>Circuit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TrackId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Naam</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label">Locatie</label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>DNF</label>
                @Html.DropDownListFor(model => model.DNFodds, new SelectList(Enum.GetValues(typeof(DNFodds))), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>RNG</label>
                @Html.DropDownListFor(model => model.RNGodds, new SelectList(Enum.GetValues(typeof(RNGodds))), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Specificatie</label>
                @Html.DropDownListFor(model => model.Specification, new SelectList(Enum.GetValues(typeof(Specification))), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Opslaan" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">
        <img src="~/images/icon-back.png" width="30" height="30" title="Back" />
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}