@model FormuleCirkelEntity.Models.Track

@{
    ViewData["Title"] = "Edit";
}

<h1>Aanpassen</h1>

<h4>Circuit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TrackId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Naam</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label">Locatie</label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DNFodds" class="control-label">DNF kans</label>
                <select asp-for="DNFodds" class="form-control"></select>
                <span asp-validation-for="DNFodds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RNGodds" class="control-label">RNG breedte</label>
                <select asp-for="RNGodds" class="form-control"></select>
                <span asp-validation-for="RNGodds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specification" class="control-label">Specificatie</label>
                <select asp-for="Specification" class="form-control"></select>
                <span asp-validation-for="Specification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Opslaan" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug naar lijst</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}