@model FormuleCirkelEntity.Models.Track

@{
    ViewData["Title"] = "Add track";
}

<section>
    <header>
        <h1 class="row">Modify track</h1>
        @if (Model.Name != null)
        {
            <h4 class="row">@Model.Name</h4>
        }
        <a asp-action="TrackTraits" asp-route-id="@Model.Id" class="btn float-right">Traits</a>
    </header>
</section>
<hr />
<section class="row">
    <div class="col-4">
        <form method="POST" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LengthKM" class="control-label">Length</label>
                <input asp-for="LengthKM" class="form-control" />
                <span asp-validation-for="LengthKM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Specification</label>
                @Html.DropDownListFor(model => model.Specification, new SelectList(Enum.GetValues(typeof(Specification))), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-dark" />
            </div>
        </form>
    </div>
</section>

<div>
    <a asp-action="Index">
        <i class="fas fa-arrow-alt-circle-left fa-2x"></i>
    </a>
</div>
