@model FormuleCirkelEntity.Models.Championship

@{
    ViewData["Title"] = "Create";
}

<div class="d-inline-block">
    <h1>New racing championship</h1>
    <hr />
    <div class="fullwidth">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ChampionshipName" class="control-label float-left">Championship name</label>
                <input asp-for="ChampionshipName" class="form-control" />
                <span asp-validation-for="ChampionshipName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn fullwidth" />
            </div>
        </form>
    </div>

    <div class="float-left">
        <a asp-action="Index">
            <i class="fas fa-arrow-alt-circle-left fa-2x"></i>
        </a>
    </div>
</div>
