@model FormuleCirkelEntity.Models.Championship

@{
    ViewData["Title"] = "Create";
}

<h1>New racing serie</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ChampionshipName" class="control-label">Championship name</label>
                <input asp-for="ChampionshipName" class="form-control" />
                <span asp-validation-for="ChampionshipName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">
        <i class="fas fa-arrow-alt-circle-left fa-2x"></i>
    </a>
</div>

