@model IEnumerable<FormuleCirkelEntity.Models.Championship>

@{
    ViewData["Title"] = "Championships";
}

<div class="d-inline-block w-60">
    <h1>Racing championships</h1>
    <a class="btn float-left mb-1" asp-action="Create">New championship</a>

    <table class="ctable fullborder fullwidth">
        <thead class="fullborder">
            <tr>
                <th>
                    Championships
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChampionshipName)
                    </td>
                    <td>
                        <form method="POST">
                            <input type="hidden" name="championshipId" value="@item.ChampionshipId" />
                            <input type="submit" class="btn fullwidth mt-1 mb-1" value="Activate" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
