@model IEnumerable<FormuleCirkelEntity.Models.Championship>

@{
    ViewData["Title"] = "Championships";
    bool isAdmin = this.User.IsInRole(Constants.RoleAdmin);
}

<div class="d-inline-block w-75">
    <h1>Racing championships</h1>
    @if (isAdmin)
    {
        <a asp-action="Create" class="btn float-left mb-1"><i class="fas fa-plus"></i><span class="ml-1">New</span></a>
    }

    <table class="ctable fullborder fullwidth min-width-index-table">
        <thead class="fullborder">
            <tr>
                <th>Championships</th>
                <th class="w-10">Settings</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChampionshipName)
                    </td>
                    <td>
                        <a asp-action="SetDevRanges" asp-route-id="@item.ChampionshipId">
                            <i class="fas fa-cog fa-2x"></i>
                        </a></td>
                    <td>
                        <form method="POST">
                            <input type="hidden" name="championshipId" value="@item.ChampionshipId" />
                            <input type="submit" class="btn fullwidth mt-1 mb-1" value="Activate" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
