@model IEnumerable<FormuleCirkelEntity.Models.Championship>

@{
    ViewData["Title"] = "Championships";
}

<section class="row my-1">
    <header>
        <h1>Racing series</h1>
    </header>
</section>

<section class="row btn-group my-1">
    <a class="btn btn-dark" asp-action="Create">New serie</a>
</section>

<section class="row my-1">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Championships
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChampionshipName)
                    </td>
                    <td>
                        <form method="POST">
                            <input type="hidden" name="championshipId" value="@item.ChampionshipId" />
                            <input type="submit" class="btn btn-outline-primary btn-sm" value="Activate" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>