@using Microsoft.AspNetCore.Identity
@using FormuleCirkelEntity.Models

@inject SignInManager<SimUser> SignInManager
@inject UserManager<SimUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link" asp-controller="Accounts" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-controller="Accounts" asp-action="Logout" method="post">
            <button id="logout" type="submit" class="nav-link btn btn-link">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" id="register" asp-controller="Accounts" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="login" asp-controller="Accounts" asp-action="Login">Login</a>
    </li>
}
</ul>
