<nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
    <div class="container">
        <a href="@Url.Action("Index", "Home")" class="navbar-brand">
            <img src="~/images/FormuleCirkeltrekLogo.png" title="Logo" alt="Formula Logo" width="165" height="67" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Index
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" asp-area="" asp-controller="Drivers" asp-action="Index">Drivers</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Teams" asp-action="Index">Teams</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Engines" asp-action="Index">Engines</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Tracks" asp-action="Index">Tracks</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item float-right">
                    <a class="nav-link" asp-area="" asp-controller="Championships" asp-action="Index">Series</a>
                </li>
                <li>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Standings
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="DriverStandings">Drivers</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="TeamStandings">Teams</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Season" asp-action="Index">Season</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="NextRace">Race</a>
                </li>
            </ul>
        </div>
    </div>
</nav>