@model FormuleCirkelEntity.Models.Season

@{
    var nextRace = Model.Races.OrderBy(r => r.Round).Where(r => r.StintProgress == 0).FirstOrDefault();
}

@if (Model.State == SeasonState.Progress)
{
    <li>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Stand
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="DriverStandings">Coureurs</a>
                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="TeamStandings">Teams</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a asp-controller="Races" asp-action="RacePreview" asp-route-id="@Model.SeasonId" asp-route-raceId="@(nextRace.RaceId)"></a>
    </li>
}