#formulaGraphic {
    margin-top: 50px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    border-bottom-right-radius: 15px;
    width: 890px;
    height: 105px;
    font-family: "Formula1 Display";
}

    #formulaGraphic #position {
        background-color: white;
        color: black;
        width: 91px;
        height: 91px;
        margin: 7px;
        margin-right: 0;
        line-height: 91px;
        vertical-align: middle;
        text-align: center;
        font-size: 48px;
        border-bottom-right-radius: 15px;
    }

    #formulaGraphic #divider {
        background-color: #28E8EE;
        width: 9px;
        margin: 17px 12px;
    }

    #formulaGraphic #details {
        margin-top: 17px;
        margin-bottom: 17px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

        #formulaGraphic #details #name {
            font-size: 2.5em;
            margin-top: -18px;
            font-family: "Formula1 Display";
        }

        #formulaGraphic #details #team {
            margin-top: auto;
            margin-bottom: -5px;
            font-size: 28px;
        }

    #formulaGraphic #extra {
        margin-top: 5px;
        margin-bottom: 10px;
        color: #28E8EE;
        text-align: center;
        margin-right: 30px;
    }

        #formulaGraphic #extra #number {
            font-size: 3em;
            margin-top: -10px;
        }

        #formulaGraphic #extra #tla {
            font-size: 1.5em;
        }

#resultScreenshot {
    margin-top: 20px;
}

    #resultScreenshot canvas:hover {
        cursor: pointer;
    }

canvas {
    background-color: black;
}

.eliminated {
    background-color: #870019 !important;
    color: white !important;
}
