a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-nav > li {
    padding-left: 5px;
    padding-right: 5px;
}

body.dark {
    background-color: rgb(30,34,39);
    color: #fff;
}
    body.dark table {
        background-color: rgb(30,34,39);
        color: #fff;
    }    

    body.dark code[class*=language-],
    body.dark table tbody > tr:nth-child(odd) > td,
    body.dark table tbody > tr:nth-child(odd) > th {
        background: #282c34
    }

    body.dark table thead th {
        border-bottom-color: #bd2130
    }

    body.dark table th {
        border-top-color: #bd2130
    }

    body.dark table td {
        border-top-color: #bd2130
    }

.page-link {
    background-color: #282c34;
    color: #bd2130;
    border-color: #bd2130;
}
    .page-item.active .page-link {
        background-color: #bd2130;
        border-color: #bd2130;
        color: #282c34;
    }

i.fas,
i.fab {
    color: white;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/DavidBeckmannCorner.jpg');
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    vertical-align: auto;
}

.hero-text {
    text-align: center;
    position: center;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

/* Fixes the placing of items in the Biography view by using flexboxes */

.biocontainer {
    display: flex;
}

.fixed {
    width: 50%;
}

.flex-item {
    flex-grow: 1;
    height: auto;
    width: 50%;
}

dl.inline-flex {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    overflow: visible;
}

    dl.inline-flex dt {
        flex: 0 0 50%;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    dl.inline-flex dd {
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 0 0 50%
    }

/* Used to place Add-button and Search bar in Driver Index on the same row */

.table-header-container {
    width: auto;
    display: flex;
    justify-content: space-between;
}

.table-header-1 {
    width: 26%;
}

.table-header-2 {
    width: 26%;
}

.table {
    vertical-align: middle;
    text-align: center;
}

td .badge {
    width: 100%;
}

.nofullwidth {
    width: auto !important;
}

.badge-first {
    background-color: #DAA520;
}

.badge-second {
    background-color: #C0C0C0;
}

.badge-third {
    background-color: #CD7F32;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #bd2130 !important;
}

.border-bottom {
    border-bottom: 1px solid #bd2130 !important;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.cursor-pointer:hover {
    cursor: pointer;
}