a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-nav > li {
    padding-left: 5px;
    padding-right: 5px;
}

.hero-text {
    text-align: center;
    position: center;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-family: 'Formula1 Display';
}

/* Fixes the placing of items in the Biography view by using flexboxes */
.biocontainer {
    display: flex;
}

.fixed {
    width: 50%;
}

.flex-item {
    flex-grow: 1;
    height: auto;
    width: 50%;
}

dl.inline-flex {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    overflow: visible;
}

    dl.inline-flex dt {
        flex: 0 0 50%;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    dl.inline-flex dd {
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 0 0 50%
    }

/* Used to place Add-button and Search bar in Driver Index on the same row */

.table-header-container {
    width: auto;
    display: flex;
    justify-content: space-between;
}

.table-header-1 {
    width: 26%;
}

.table-header-2 {
    width: 26%;
}

.table {
    vertical-align: middle;
    text-align: center;
}

td {
    vertical-align: middle !important;
}

td .badge {
    width: 100%;
}

.badge-first {
    background-color: #DAA520;
    color: white !important;
}

.badge-second {
    background-color: #C0C0C0;
    color: white !important;
}

.badge-third {
    background-color: #CD7F32;
    color: white !important;
}

.badge-danger {
    color: white !important;
}

.badge-dsq {
    background-color: black;
    color: white !important;
}

.badge-success {
    color: white !important;
}

.badge-primary {
    color: white !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.theme-button {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.theme-buttons {
    float: right;
}

.cursor-pointer:hover {
    cursor: pointer;
}

/* Generic classes for functionality */

.nofullwidth {
    width: auto !important;
}