/* General styling */
* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.0;
}

main {
    flex: 1;
    text-align: center;
}

h1 {
    font-family: 'Formula1 Display';
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-nav > li {
    padding-left: 5px;
    padding-right: 5px;
}

footer {
    position: relative;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.theme-button {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.theme-buttons {
    float: right;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.ctable {
    margin-bottom: 10px;
    max-width: 100%;
    text-align: center;
    line-height: normal;
}

    .ctable th {
        padding: 1px;
        border: none;
    }

    .ctable thead th {
        border:none;
    }

    .ctable td {
        padding: 1px;
        min-width: 50px;
        min-height: 27px;
        border: none;
    }

td {
    vertical-align: middle !important;
}

.ml-cel {
    margin-left: 5px;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Home page styling */
.hero-text {
    text-align: center;
    position: center;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

/* Styling for the qualification / race week */
.nav-tabs {
    border-bottom: none;
}

/* Styling for the index pages */
.index-btns {
    margin-bottom: 5px;
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-60 {
    width: 60%;
}

/* Styling in relation to statistics page */
.flex-item {
    flex-grow: 1;
    height: auto;
    width: 50%;
}

dl.inline-flex {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    overflow: visible;
}

    dl.inline-flex dt {
        flex: 0 0 50%;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    dl.inline-flex dd {
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 0 0 50%
    }

/* Utility classes */
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.font-size-default {
    font-size: 1rem;
}

.fullheight {
    height: 100% !important;
}

.fullwidth {
    width: 100%;
}

.input-style {
    min-height: 25px;
    width: 100px;
    border-radius: 5px;
}

.nofullwidth {
    width: auto !important;
}

.m-sides {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

/* Modifications for the Bootstrap badges */
.badge-first {
    background-color: #DAA520 !important;
    color: white !important;
}

.badge-second {
    background-color: #C0C0C0 !important;
    color: white !important;
}

.badge-third {
    background-color: #CD7F32 !important;
    color: white !important;
}

.result-dnf {
    background-color: #dc3545 !important;
    color: white !important;
}

.badge-dsq {
    background-color: black !important;
    color: white !important;
}

.result-points {
    background-color: #28a745 !important;
    color: white !important;
}

.result-warning {
    background-color: #ffc107 !important;
    color: black !important;
}

.result-none {
    background-color: #007bff !important;
    color: white !important;
}

.pole {
    font-size: 0.5rem;
}

.badge-danger {
    color: white !important;
}

.badge-success {
    color: white !important;
}

.badge-primary {
    color: white !important;
}
