body.dark {
    background-color: rgb(30,34,39);
    color: white;
}

    body.dark table {
        background-color: rgb(30,34,39);
        color: white;
    }

        body.dark code[class*=language-],
        body.dark table tbody > tr:nth-child(odd) > td,
        body.dark table tbody > tr:nth-child(odd) > th {
            background: #282c34
        }

        body.dark table thead th {
            border-bottom-color: #bd2130
        }

        body.dark table th {
            border-top-color: #bd2130
        }

        body.dark table td {
            border-top-color: #bd2130
        }

.page-link {
    background-color: #282c34;
    color: #bd2130;
    border-color: #bd2130;
}

.page-item.active .page-link {
    background-color: #bd2130;
    border-color: #bd2130;
    color: #282c34;
}

.btn {
    background-color: #282c34;
    color: white;
}

#graphic {
    background-color: rgb(30,34,39);
}

i.fas,
i.fab, .link {
    color: white;
}

.border-top {
    border-top: 1px solid #bd2130 !important;
}

.border-bottom {
    border-bottom: 1px solid #bd2130 !important;
}

.navbar {
    background-color: #343a40;
}

.nav-link {
    color: rgba(255, 255, 255, 0.75);
}

.footer {
    background-color: #343a40;
    color: white;
}
