body.dark {
    background-color: #ebebeb;
    color: black;
}

    body.dark table {
        background-color: #ebebeb;
        color: black;
    }

        body.dark code[class*=language-],
        body.dark table tbody > tr:nth-child(odd) > td,
        body.dark table tbody > tr:nth-child(odd) > th {
            background: #d5d5d5
        }

        body.dark table thead th {
            border-bottom-color: #35cdff
        }

        body.dark table th {
            border-top-color: #35cdff
        }

        body.dark table td {
            border-top-color: #35cdff
        }

.btn {
    background-color: #d5d5d5;
}

.page-link {
    background-color: #d5d5d5;
    color: #35cdff;
    border-color: #35cdff;
}

.page-item.active .page-link {
    background-color: #35cdff;
    border-color: #35cdff;
    color: #d5d5d5;
}

#graphic {
    background-color: #ebebeb;
}

i.fas,
i.fab {
    color: black;
}

.border-top {
    border-top: 1px solid #35cdff !important;
}

.border-bottom {
    border-bottom: 1px solid #35cdff !important;
}

.navbar {
    background-color: #d5d5d5;
    color: black;
}

.nav-link {
    color: rgba(0, 0, 0, 0.75);
}

.footer {
    background-color: #d5d5d5;
    color: black;
}