body table {
    background-color: rgb(235, 235, 235);
    color: black;
}
    body code[class*=language-],
    body table tbody > tr:nth-child(odd) > td,
    body table tbody > tr:nth-child(odd) > th {
        background: rgb(213, 213, 213)
    }

.table-prev {
    border: 1px solid rgb(53, 205, 255);
}
    .table-prev th {
        border: 1px solid rgb(53, 205, 255);
    }
    .table-prev td {
        border: 1px solid rgb(53, 205, 255);
    }

.standings-border th, .standings-border td {
    border: 1px solid rgba(192,192,192,0.4);
}

.primary {
    background-color: rgb(235, 235, 235);
    color: black;
}

.secondary {
    background: rgb(213, 213, 213)
}

.teritary {
    background-color: rgb(53, 205, 255);
    color: black;
}

.nav-link {
    color: rgba(0, 0, 0, 0.75);
}

.page-link {
    background-color: rgb(213, 213, 213);
    color: rgb(53, 205, 255);
    border-color: rgb(53, 205, 255);
}

.page-item.active .page-link {
    background-color: rgb(53, 205, 255);
    border-color: rgb(53, 205, 255);
    color: rgb(213, 213, 213);
}

.btn {
    background-color: rgb(213, 213, 213);
    color: black;
    border-color: rgb(53, 205, 255);
}
    .btn:hover {
        background-color: rgb(230, 230, 230);
        color: black;
    }

#graphic {
    background-color: rgb(235, 235, 235);
}

i.fas, i.fab, i.far, .link {
    color: black;
}

.fullborder {
    border: 1px solid rgb(53, 205, 255) !important;
}

.upperline {
    border-top: 1px solid rgb(53, 205, 255) !important;
}

.bottomline {
    border-bottom: 1px solid rgb(53, 205, 255) !important;
}

.leftline {
    border-right: 1px solid rgb(53, 205, 255) !important;
}

.rightline {
    border-right: 1px solid rgb(53, 205, 255) !important;
}
