body table {
    background-color: #ebebeb;
    color: black;
}

    body code[class*=language-],
    body table tbody > tr:nth-child(odd) > td,
    body table tbody > tr:nth-child(odd) > th {
        background: #d5d5d5
    }

.table-prev {
    border: 1px solid #35cdff;
}

    .table-prev th {
        border: 1px solid #35cdff;
    }

    .table-prev td {
        border: 1px solid #35cdff;
    }

.primary {
    background-color: #ebebeb;
    color: black;
}

.secondary {
    background: #d5d5d5
}

.nav-link {
    color: rgba(0, 0, 0, 0.75);
}

.page-link {
    background-color: #d5d5d5;
    color: #35cdff;
    border-color: #35cdff;
}

.page-item.active .page-link {
    background-color: #35cdff;
    border-color: #35cdff;
    color: #d5d5d5;
}

.btn {
    background-color: #d5d5d5;
    color: black;
    border-color: #35cdff;
}

#graphic {
    background-color: #ebebeb;
}

i.fas, i.fab, .link {
    color: black;
}

.fullborder {
    border: 1px solid #35cdff !important;
}

.upperline {
    border-top: 1px solid #35cdff !important;
}

.bottomline {
    border-bottom: 1px solid #35cdff !important;
}

.leftline {
    border-right: 1px solid #35cdff !important;
}

.rightline {
    border-right: 1px solid #35cdff !important;
}
