body table {
    background-color: rgb(25, 16, 35);
    color: rgb(238, 114, 241);
}
    body code[class*=language-],
    body table tbody > tr:nth-child(odd) > td,
    body table tbody > tr:nth-child(odd) > th {
        background: rgb(10, 14, 41)
    }

th {
    background-color: rgb(10, 14, 41);
}

.table-prev {
    border: 1px solid rgb(0, 243, 255);
}
    .table-prev th {
        border: 1px solid rgb(0, 243, 255);
    }
    .table-prev td {
        border: 1px solid rgb(0, 243, 255);
    }

.standings-border th, .standings-border td {
    border: 1px solid rgba(0, 243, 255, 0.4);
}

h1, h2, h3, h4, h5, th, dt, .link {
    color: rgb(232, 9, 154);
}

.primary {
    background-color: rgb(25, 16, 35);
    color: rgb(238, 114, 241);
}

.secondary {
    background-color: rgb(10, 14, 41);
}

.teritary {
    background-color: rgb(232, 9, 154);
    color: rgb(0, 243, 255);
}

.alt-font {
    color: rgb(0, 243, 255);
}

.nav-link {
    color: rgba(238, 114, 241, 0.75);
}

.page-link {
    background-color: rgb(10, 14, 41);
    color: rgb(232, 9, 154);
    border-color: rgb(0, 243, 255);
}

.page-item.active .page-link {
    background-color: rgb(232, 9, 154);
    border-color: rgb(0, 243, 255);
    color: rgb(10, 14, 41);
}

i.fas, i.fab, i.far, .link {
    color: rgb(238, 114, 241);
}

.btn {
    background-color: rgb(10, 14, 41);
    color: rgb(232, 9, 154) !important;
    border-color: rgb(0, 243, 255);
}
    .btn:hover {
        background-color: rgb(238, 114, 241);
        color: rgb(10, 14, 41) !important;
    }
        .btn:hover i.fas, .btn:hover i.fab, .btn:hover i.far {
            color: rgb(10, 14, 41);
        }

.badge {
    border: 1px solid rgb(232, 9, 154);
}

#graphic {
    background-color: rgb(25, 16, 35);
}

.fullborder {
    border: 1px solid rgb(0, 243, 255) !important;
}

.upperline {
    border-top: 1px solid rgb(0, 243, 255) !important;
}

.bottomline {
    border-bottom: 1px solid rgb(0, 243, 255) !important;
}

.leftline {
    border-right: 1px solid rgb(0, 243, 255) !important;
}

.rightline {
    border-right: 1px solid rgb(0, 243, 255) !important;
}
