h1, h2, h3, h4, h5 {
    font-family: Gadugi;
}

body {
    font-family: Bahnschrift;
}

body.dark {
    background-color: #001D4D;
    color: white;
}

    body.dark table {
        background-color: #001D4D;
        color: white;
    }

        body.dark code[class*=language-],
        body.dark table tbody > tr:nth-child(odd) > td,
        body.dark table tbody > tr:nth-child(odd) > th {
            background: #002766;
        }

        body.dark table thead th {
            border-bottom-color: white
        }

        body.dark table th {
            border-top-color: white
        }

        body.dark table td {
            border-top-color: white
        }

.btn {
    background-color: #002766;
    color: white;
}

.page-link {
    background-color: #002766;
    color: white;
    border-color: white;
}

.page-item.active .page-link {
    background-color: white;
    border-color: white;
    color: #002766;
}

#graphic {
    background-color: #001D4D;
}

i.fas,
i.fab, .link {
    color: white;
}

.border-top {
    border-top: 1px solid white !important;
}

.border-bottom {
    border-bottom: 1px solid white !important;
}

.navbar {
    background-color: #002766;
    color: white;
}

.nav-link {
    color: white;
}

.footer {
    background-color: #002766;
    color: white;
}
