h1, h2, h3, h4, h5 {
    font-family: Gadugi;
}

body {
    font-family: Bahnschrift;
}

body table {
        background-color: #001D4D;
        color: white;
    }

    body code[class*=language-],
    body table tbody > tr:nth-child(odd) > td,
    body table tbody > tr:nth-child(odd) > th {
        background: #002766;
    }

.table-prev {
    border: 1px solid white;
}

    .table-prev th {
        border: 1px solid white;
    }

    .table-prev td {
        border: 1px solid white;
    }

.primary {
    background-color: #001D4D;
    color: white;
}

.secondary {
    background-color: #002766;
}

.nav-link {
    color: white;
}

.page-link {
    background-color: #002766;
    color: white;
    border-color: white;
}

.page-item.active .page-link {
    background-color: white;
    border-color: white;
    color: #002766;
}

.btn {
    background-color: #002766;
    color: white;
    border-color: white;
}

#graphic {
    background-color: #001D4D;
}

i.fas, i.fab, .link {
    color: white;
}

.fullborder {
    border: 1px solid white !important;
}

.upperline {
    border-top: 1px solid white !important;
}

.bottomline {
    border-bottom: 1px solid white !important;
}

.leftline {
    border-right: 1px solid white !important;
}

.rightline {
    border-right: 1px solid white !important;
}

.tcc-chassis span {
    display: none;
}

.tcc-chassis::after {
    content: 'Chassis'
}

.tcc-crew span {
    display: none;
}

.tcc-crew::after {
    content: 'Crew'
}