#main table {
        background-color: #1C0658;
        color: #36CDC4;
    }

    #main code[class*=language-],
    #main table tbody > tr:nth-child(odd) > td,
    #main table tbody > tr:nth-child(odd) > th {
        background: #5C2686
    }

.table-prev {
    border: 1px solid #FF1690;
}

    .table-prev th {
        border: 1px solid #FF1690;
    }

    .table-prev td {
        border: 1px solid #FF1690;
    }

h1, h5, dt, .link {
    color: #36CDC4;
}

.primary {
    background-color: #1C0658;
    color: #36CDC4;
}

.secondary {
    background-color: #5C2686;
}

.nav-link {
    color: rgba(54, 205, 196, 0.75);
}

.page-link {
    background-color: #5C2686;
    color: #FF1690;
    border-color: #36CDC4;
}

.page-item.active .page-link {
    background-color: #FF1690;
    border-color: #36CDC4;
    color: #5C2686;
}

.btn {
    background-color: #5C2686;
    color: #FF1690;
}

#graphic {
    background-color: #1C0658;
}

i.fas, i.fab {
    color: #FF1690;
}

.fullborder {
    border: 1px solid #36CDC4 !important;
}

.upperline {
    border-top: 1px solid #36CDC4 !important;
}

.bottomline {
    border-bottom: 1px solid #36CDC4 !important;
}

.leftline {
    border-right: 1px solid #36CDC4 !important;
}

.rightline {
    border-right: 1px solid #36CDC4 !important;
}
