@model IEnumerable<FormuleCirkelEntity.Models.Engine>

@{
    ViewData["Title"] = "AddEngines";
}

<h1>AddEngines</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Naam
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="EngineToSeason" asp-route-id="@item.EngineId">Toevoegen</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="AddTeams" class="btn btn-secondary">Motoren toevoegen voltooien!</a>
</div>
