@model FormuleCirkelEntity.Models.Race

@{
    ViewData["Title"] = "AddRace";
    int round = ViewBag.Round;
    int track = ViewBag.TrackId;
    int season = ViewBag.SeasonId;
}

<h1>AddRace</h1>

<h4>Race</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddRace">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round" class="control-label"></label>
                <input asp-for="Round" value="@round" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="TrackId" class="control-label"></label>
                <input asp-for="TrackId" value="@track" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="SeasonId" class="control-label"></label>
                <input asp-for="SeasonId" value="@season" class="form-control" readonly />
            </div>
            <div class="form-group">
                <input type="submit" value="AddRace" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

