@model IEnumerable<FormuleCirkelEntity.Models.Team>

@{
    ViewData["Title"] = "Teams toevoegen";
}

<h1>Teams aan seizoen toevoegen</h1>
<h4>Huidige aantal deelnemende teams: @ViewBag.season</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Teamnaam
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="TeamToSeason" asp-route-id="@item.TeamId">Voeg aan kampioenschap toe.</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="AddDrivers" class="btn btn-secondary">Teams toevoegen voltooien!</a>
</div>
