@model IEnumerable<FormuleCirkelEntity.Models.Team>
@{ViewData["Title"] = "Add teams";}

<div class="d-inline-block">
    <h3>Unregistered teams</h3>

    <table class="ctable fullborder min-width-index-table">
        <thead class="fullborder">
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-left">
                        <span class="flag flag-@(item.Country) ff-sm flag-margin"></span>
                        @Html.DisplayFor(modelItem => item.Abbreviation)
                    </td>
                    <td><a asp-action="AddTeam" asp-route-id="@ViewBag.seasonId" asp-route-globalTeamId="@item.Id" class="btn fullborder fullwidth">Add</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn float-left" asp-action="Detail" asp-route-id="@ViewBag.seasonId">
        <i class="fas fa-arrow-alt-circle-left"></i> Back
    </a>
</div>
