@model FormuleCirkelEntity.Models.Season

@{
    ViewData["Title"] = "Seizoen " + Model.SeasonId;
}
<section class="col-12">
    <header>
        <h1>Seizoen: @Model.SeasonId</h1>
    </header>
</section>

<section class="col-12 btn-group">
    <a asp-action="AddTracks" asp-route-id="@Model.SeasonId" class="btn btn-primary">Races toevoegen</a>
</section>
<section class="col-12">
    <h2>Races</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Ronde</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var race in Model.Races) {
                <tr>
                    <td>@race.Name</td>
                    <td>@race.Round</td>
                </tr>
            }
        </tbody>
    </table>
</section>