@model IEnumerable<FormuleCirkelEntity.Models.Engine>

@{
    ViewData["Title"] = "Engine development";
}

<h1>Engine development</h1>

<section>

    <input id="min" type="number" placeholder="Min. RNG" />
    <input id="max" type="number" placeholder="Max. RNG" />
    <button id="develop" class="btn btn-dark">Develop</button>
    <button id="custom" class="btn btn-dark float-right">Custom</button>

    <table id="graphic" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Old</th>
                <th>Change</th>
                <th>New</th>
                <th>Custom</th>
            </tr>
        </thead>
        <tbody id="devtable">
            @{
                int number = 1;
                foreach (var engine in Model)
                {
                    <tr>
                        <td>@engine.Name</td>
                        <td id="old-value-@number">@engine.Power</td>
                        <td id="custom-change-@number">?</td>
                        <td id="custom-new-@number">-</td>
                        <td><input id="custom-min-@number" class="input-width" type="number" placeholder="Min. RNG" />
                        <input id="custom-max-@number" class="input-width" type="number" placeholder="Max. RNG" /></td>
                        <td id="engine-id-@(number++)" style="display:none;">@(engine.EngineId)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <button id="save" class="btn btn-dark">Save</button>
</section>

<a asp-action="Detail" asp-route-id="@ViewBag.seasonId">
    <i class="fas fa-arrow-alt-circle-left fa-2x"></i>
</a>

<button class="btn float-right" onclick="takeScreenshot('#graphic', '#screenshot')"><i class="fas fa-image fa-2x"></i></button>

<div id="screenshot"></div>

<script>
    $(document).ready(function () {
        $("#save").hide();

        $('#develop').click(function () {
            var number = 1;
            var min = Math.ceil(document.getElementById("min").value);
            var max = Math.floor(document.getElementById("max").value);
            $('#devtable').children('tr').each(function () {
                var element = document.getElementById("old-value-" + number);
                var text = element.textContent;
                var old = Number(text);
                var dev = Math.floor(Math.random() * (max - min + 1)) + min;
                var newdev = (old + dev);

                document.getElementById("custom-change-" + number).innerText = dev;
                document.getElementById("custom-new-" + number).innerText = newdev;

                number = (number + 1);
            });

            $("#save").show();
        });

        $('#custom').click(function () {
            var number = 1;
            $('#devtable').children('tr').each(function () {
                getDev(number);
                number = (number + 1);
            });

            $("#save").show();
        });

        $("#save").click(function () {
            var engines = new Array();
            var number = 1;
            $("#devtable").children('tr').each(function () {
                var row = $(this);
                var engine = {};
                engine.id = row.find("#engine-id-" + number).html();
                engine.newdev = row.find("#custom-new-" + number).html();
                engines.push(engine);

                number = (number + 1);
            });

            $.ajax({
                type: "POST",
                url: "/Season/SaveEngineDev",
                headers: {
                    'Accept': 'application/html',
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify(engines),
                dataType: "json",
                complete: function (result) {
                    if (result.responseText) {
                        $('head').html(result.responseJSON);
                        $('body').html(result.responseText);
                    }
                }
            });
        });
    });
</script>