@model FormuleCirkelEntity.Models.SeasonEngine

@{
    ViewData["Title"] = "EngineToSeason";
    int id = ViewBag.id;
}

<h1>EngineToSeason</h1>

<h4>SeasonEngine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EngineToSeason">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Power" class="control-label"></label>
                <input asp-for="Power" class="form-control" />
                <span asp-validation-for="Power" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="EngineId" value="@id" class="form-control" readonly />
            </div>
            <div class="form-group">
                <input type="submit" value="AddingEngine" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AddEngines">Terug naar lijst</a>
</div>

