@model IEnumerable<FormuleCirkelEntity.Models.Season>

<section class="row my-1">
    <header>
        <h1>Seizoenen</h1>
    </header>
</section>

<section class="row btn-group my-1">
    <a class="btn btn-primary" asp-action="Create">Nieuw seizoen</a>
</section>

<section class="row my-1">
    <table class="table table-striped  ">
        <thead>
            <tr>
                <th>#</th>
                <th>Coureurleider</th>
                <th>Teamleider</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.SeasonId)</td>
                    <td>TBD</td>
                    <td>TBD</td>
                    <td><a asp-action="Detail" asp-route-id="@item.SeasonId">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
</section>