@model IEnumerable<FormuleCirkelEntity.Models.Season>

@{
    ViewData["Title"] = "Seizoen";
    bool Active = false;
    int seasonid = 0;
}

@if(Model != null)
{
    foreach (var item in Model)
    {
        seasonid++;
        if (item.CurrentSeason == true)
        {
            Active = true;
            break;
        }
    }
}

@if (Active == false)
{
    <div class="text-center">
        <form asp-action="Main">
            <label>Nieuwe seizoen: @seasonid</label>
            <br />
            <div class="form-group">
                <input type="submit" value="Begin seizoen" class="btn btn-secondary" />
            </div>
        </form>
    </div>
}
@if (Active == true)
{
    <div class="text-center">
        <h2>Huidige seizoen: @seasonid</h2>
    </div>
    <br />
    <div class="text-center">
        <a asp-action="Index" asp-controller="Home" class="btn btn-secondary" style="padding-top : 5px; padding-bottom : 5px">Naar seizoen</a>
    </div>
    <br />
    <div class="text-center">
        <a asp-action="AddTracks" class="btn btn-secondary" style="padding-top : 5px; padding-bottom : 5px">Seizoen bewerken</a>
    </div>
}