@model IEnumerable<FormuleCirkelEntity.Models.Season>

@{
    ViewData["Title"] = "Seizoen";
    bool Active = false;
    int seasonid = 1;
}

@if(Model != null)
{
    foreach (var item in Model)
    {
        seasonid++;
        if (item.CurrentSeason == true)
        {
            Active = true;
            break;
        }
    }
}

@if (Active == false)
{
    <div class="text-center">
        <form asp-action="Main">
            <label>Nieuwe seizoen: @seasonid</label>
            <br />
            <div class="form-group">
                <input type="submit" value="Begin seizoen" class="btn btn-secondary" />
            </div>
        </form>
    </div>
}
@if (Active == true)
{
    <div class="text-center">
        <a class="btn btn-secondary btn-sm">Naar seizoen</a>
    </div>
}