
@{
    ViewData["Title"] = "SeasonSettings";
}

<h1>Settings for season @ViewBag.seasonId</h1>

<h2>This feature hasn't been implemented yet, apologies!</h2>

<a asp-action="Detail" asp-route-id="@ViewBag.seasonId">
    <img src="~/images/icon-back.png" width="30" height="30" title="Back" />
</a>