@{
    ViewData["Title"] = "SeasonStats";
}

<h1>Season Stats for season @ViewBag.seasonId</h1>

<h2>This feature hasn't been implemented yet, apologies!</h2>

<a asp-controller="Home" asp-action="PastDriverStandings" asp-route-seasonId="@ViewBag.seasonId">
    <span>Driver standings</span>
</a>

<a asp-controller="Home" asp-action="PastTeamStandings" asp-route-seasonId="@ViewBag.seasonId">
    <span>Team standings</span>
</a>

<a asp-action="Index">
    <img src="~/images/icon-back.png" width="30" height="30" title="Back" />
</a>