@{
    ViewData["Title"] = "SeasonSettings";
}

<h1>Settings for season @ViewBag.seasonId</h1>

<h2>This feature hasn't been implemented yet, apologies!</h2>

<a asp-action="Index">
    <i class="fas fa-arrow-alt-circle-left"></i>
</a>