@model FormuleCirkelEntity.ViewModels.SeasonSetPointsModel

@{
    ViewData["Title"] = "Set Points";
}

<div class="d-inline-block w-50">
    <h1>Set awarded points for season @Model.SeasonNumber</h1>

    @using (Html.BeginForm())
    {
        <div class="form-element">
            @Html.TextBoxFor(p => p.SeasonId, new { style = "display: none;" })
        </div>

        <div class="flex-row justify-content-between mb-1">
            <button type="button" id="add" class="btn fullborder w-10">Add</button>
            <button type="submit" class="btn fullborder submit w-10">Save</button>
        </div>

        <table class="ctable fullborder fullwidth">
            <thead class="fullborder">
                <tr>
                    <th class="w-20">Position</th>
                    <th class="w-50">Points</th>
                    <th class="w-auto"></th>
                </tr>
            </thead>
            <tbody id="pointPositions" class="table-counter">
                @foreach (var point in Model.Points)
                {
                    <tr>
                        <td><label class="table-count"></label></td>
                        <td><input name="Points" type="number" class="form-control" value="@point"/></td>
                        <td><button type="button" class="btn fullwidth delete">Delete</button></td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <a asp-action="Settings" asp-route-id="@Model.SeasonId" class="btn float-left">
        <i class="fas fa-arrow-alt-circle-left"></i> Back
    </a>

    <table id="newpoint" style="display:none;">
        <tr>
            <td><label>%</label></td>
            <td><input name="Points" type="number" class="form-control"></td>
            <td><button type="button" class="btn fullwidth delete">Delete</button></td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    var form = $('form');
    var positions = $('#pointPositions');
    var newpoint = $('#newpoint');

    $('#add').click(function () {
        var index = ($('#pointPositions').children().length) + 1;
        var clone = newpoint.find('tr').clone();
        clone.html($(clone).html().replace(/\[#\]/g, '[' + index + ']'));
        clone.html($(clone).html().replace(/%/g, index));
        positions.append(clone);
    });

    $('#pointPositions').on('click', '.delete', function () {
        $(this).closest('tr').remove();
    });
</script>
