@model SeasonSettingsViewModel
@{ViewData["Title"] = "Season";}

<div class="d-inline-block mb-1">
    <h1>Settings</h1>
    <h4>Season @Model.SeasonNumber</h4>

    <div>
        <form method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SeasonNumber" class="control-label float-left">Year</label>
                <input asp-for="SeasonNumber" class="form-control" />
                <span asp-validation-for="SeasonNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QualificationRNG" class="control-label float-left">Maximum RNG in Qualifications</label>
                <input asp-for="QualificationRNG" class="form-control" />
                <span asp-validation-for="QualificationRNG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QualificationRemainingDriversQ2" class="control-label float-left">Drivers in Q2</label>
                <input asp-for="QualificationRemainingDriversQ2" class="form-control" />
                <span asp-validation-for="QualificationRemainingDriversQ2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QualificationRemainingDriversQ3" class="control-label float-left">Drivers in Q3</label>
                <input asp-for="QualificationRemainingDriversQ3" class="form-control" />
                <span asp-validation-for="QualificationRemainingDriversQ3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QualyBonus" class="control-label float-left">Grid bonus</label>
                <input asp-for="QualyBonus" class="form-control" />
                <span asp-validation-for="QualyBonus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolePoints" class="control-label float-left">Points for pole</label>
                <input asp-for="PolePoints" class="form-control" />
                <span asp-validation-for="PolePoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn fullwidth mb-2" />
                <a asp-action="SetPoints" asp-route-id="@Model.SeasonId" class="btn fullwidth">Setup points</a>
            </div>
        </form>
    </div>

    <a asp-action="Detail" asp-route-id="@Model.SeasonId" class="btn float-left">
        <i class="fas fa-arrow-alt-circle-left"></i> Back
    </a>
</div>
