@model SeasonSettingsViewModel
@{ViewData["Title"] = "Season";}

<section>
    <header>
        <h1 class="row">Settings</h1>
        <h4 class="row">Season @Model.SeasonNumber</h4>
    </header>
    <section class="row">
        <form method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <section class="form-group">
                <label asp-for="SeasonNumber" class="control-label">Year</label>
                <input asp-for="SeasonNumber" class="form-control" />
                <span asp-validation-for="SeasonNumber" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="QualificationRNG" class="control-label">Maximum RNG in Qualifications</label>
                <input asp-for="QualificationRNG" class="form-control" />
                <span asp-validation-for="QualificationRNG" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="QualificationRemainingDriversQ2" class="control-label">Drivers in Q2</label>
                <input asp-for="QualificationRemainingDriversQ2" class="form-control" />
                <span asp-validation-for="QualificationRemainingDriversQ2" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="QualificationRemainingDriversQ3" class="control-label">Drivers in Q3</label>
                <input asp-for="QualificationRemainingDriversQ3" class="form-control" />
                <span asp-validation-for="QualificationRemainingDriversQ3" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="QualyBonus" class="control-label">Grid bonus</label>
                <input asp-for="QualyBonus" class="form-control" />
                <span asp-validation-for="QualyBonus" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="PolePoints" class="control-label">Points for pole</label>
                <input asp-for="PolePoints" class="form-control" />
                <span asp-validation-for="PolePoints" class="text-danger"></span>
            </section>
            <section class="form-group">
                <input type="submit" value="Save" class="btn" />
                <a asp-action="SetPoints" asp-route-id="@Model.SeasonId" class="btn float-right">Setup points</a>
            </section>
        </form>
    </section>
    <a asp-action="Detail" asp-route-id="@Model.SeasonId" class="row">
        <i class="fas fa-arrow-alt-circle-left fa-2x"></i>
    </a>
</section>