@model FormuleCirkelEntity.Models.SeasonTeam

@{
    ViewData["Title"] = "TeamToSeason";
    int current = 0;
    int id = 0;
    if (ViewBag.current != null) { current = ViewBag.current; }
    if (ViewBag.id != null) { id = ViewBag.id; }
    var engines = ViewBag.engines;
}

<h1>Team inschrijving</h1>

<h4>Team naam</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TeamToSeason">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Chassis" class="control-label"></label>
                <input asp-for="Chassis" class="form-control" />
                <span asp-validation-for="Chassis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Relability" class="control-label"></label>
                <input asp-for="Relability" class="form-control" />
                <span asp-validation-for="Relability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Specificatie</label>
                @Html.DropDownListFor(model => model.Specification, new SelectList(Enum.GetValues(typeof(Specification))), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Points" value="0" class="form-control" />
                <span asp-validation-for="Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="SeasonId" value="@current" class="form-control" />
                <span asp-validation-for="SeasonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="TeamId" value="@id" class="form-control" />
                <span asp-validation-for="TeamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeasonEngineId" value="Motor" class="control-label"></label>
                <select asp-for="SeasonEngineId" asp-items="@engines"><option>Kies een!</option></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Team toevoegen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AddTeams">Terug naar lijst</a>
</div>

