@model FormuleCirkelEntity.Models.Engine

@{
    ViewData["Title"] = "Archive";
    string archive = "archive";
    if (Model.Archived) { archive = "unarchive"; }
}

<h1>Archive</h1>

<h3>Are you sure you want to @archive the @Model.Name engine?</h3>
<div>
    <h4>Engine</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EngineId" />
        <input type="submit" value="@archive" class="btn btn-danger" />
    </form>
</div>

<br />
<a asp-action="Index">
    <i class="fas fa-arrow-alt-circle-left fa-2x"></i>
</a>
