@model IEnumerable<FormuleCirkelEntity.Models.Engine>

@{
    ViewData["Title"] = "Motoren";
}

<h1>Motoren</h1>

<p>
    <a asp-action="Create">Voeg motor toe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Naam
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EngineId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EngineId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EngineId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
