@model FormuleCirkelEntity.Models.Engine

@{
    ViewData["Title"] = "Motor - Aanpassen";
}

<section>
    <header class="row">
        <h1>Motor aanpassen</h1>
    </header>
    <section class="row">
        <form method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <section class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="Power" class="control-label">Kracht</label>
                <input asp-for="Power" class="form-control" />
                <span asp-validation-for="Power" class="text-danger"></span>
            </section>
            <section class="form-group form-check">
                <input asp-for="Available" class="form-check-input" />
                <label asp-for="Available" class="form-check-label">Beschikbaar</label>
                <span asp-validation-for="Available" class="text-danger"></span>
            </section>
            <section class="form-group">
                <input type="submit" value="Opslaan" class="btn btn-primary" />
            </section>
        </form>
    </section>

    <section class="col-md-4">
        <a asp-action="Index">Terug naar lijst</a>
    </section>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}